In [15]:
import pandas as pd
data=pd.read_csv("Salary.csv")
data.head()
print(" Name: Abishek P")
print(" Register Number: 212224240002")

 Name: Abishek P
 Register Number: 212224240002

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Position  10 non-null     object
 1   Level     10 non-null     int64
 2   Salary    10 non-null     int64
dtypes: int64(2), object(1)
memory usage: 372.0+ bytes

In [3]:
data.isnull().sum()

Position    0
Level       0
Salary      0
dtype: int64

In [4]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [5]:
data["Position"]=le.fit_transform(data["Position"])
data.head()

   Position  Level  Salary
0         0      1   45000
1         4      2   50000
2         8      3   60000
3         5      4   80000
4         3      5  110000

In [6]:
x=data[["Position","Level"]]
x.head()

   Position  Level
0         0      1
1         4      2
2         8      3
3         5      4
4         3      5

In [7]:
y=data[["Salary"]]

In [8]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.2,random_state=2)

In [9]:
from sklearn.tree import DecisionTreeRegressor
dt=DecisionTreeRegressor()
dt.fit(x_train,y_train)
y_pred=dt.predict(x_test)

In [13]:
from sklearn import metrics
mse=metrics.mean_squared_error(y_test, y_pred)
print("Mse: ")
mse

Mse:

462500000.0

In [14]:
r2=metrics.r2_score(y_test,y_pred)
print('r2:')
r2

r2:

0.48611111111111116

In [12]:
dt.predict([[5,6]])

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

array([150000.])